{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="{{ category }}" style="margin-top: 50px;">
    <div class="flash">
        <p>{{ message }}</p>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="box" style="padding-top: -100px;">
    <div class="profile">
        <div class="row">
            <div class="username">
                <div class="column">
                    Dashboard
                </div>
            </div>
            <div class="column">
                <img style="width: 200px; margin-right: -100px;"
                    src="{{ url_for('static', filename='images/SMlogo.png') }}">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="column">
                <a href="{{ url_for('roles.editRoles') }}">
                    <div class="block">
                        <strong>Modificar roles</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="">
                    <div class="block">
                        <strong>Buscar personal</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="">
                    <div class="block">
                        <strong>Asignar ubicación</strong>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <a href="">
                    <div class="block">
                        <strong>Crear orden inventario</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="">
                    <div class="block">
                        <strong>Buscar paciente</strong>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="">
                    <div class="block">
                        <strong>Eliminar perfiles</strong>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}