{% extends "base.html" %}

{% block content %}

<div class="box">
    <div class="editRoles">
        {% if role == 'Administrativo' %}
        <div class="row">
            <div class="username">
                <div class="column">
                    Buscar personas
                </div>
            </div>
            <div class="column">
                <img style="width: 200px; margin-right: 250px;"
                    src="{{ url_for('static', filename='images/SMlogo.png') }}">
            </div>
        </div>
        <hr>
        <form action="{{ url_for('search.searchRedirector',role=role) }}" method="POST">
            <div class="input-container" style="margin-top: 50px;">
                <div class="row">
                    <div class="column">
                        <input type="text" name="cedula" style="margin-top: auto;" value="{{ search }}" required>
                        <label>Buscar por cédula</label>
                    </div>
                    <div class="column" style="flex: none;">
                        <button type="submit" class="btn" style="margin-top: auto;">Search</button>
                    </div>
                    <div class="column" style="flex: none;">
                        <a href="{{ url_for('search.searchRedirector') }}"><button type="button" class="btn"
                                style="margin-top: auto;">Reset</button></a>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <table class="basicTable">
            <thead>
                <tr>
                    <th> Cédula </th>
                    <th> Nombre </th>
                    <th> Teléfono </th>
                    <th> Rol </th>
                    <th> Ver perfil </th>
                </tr>
            </thead>
            {% for perfil in perfiles %}
            <tr>
                <td> {{perfil.0}} </td>
                <td> {{perfil.1}} </td>
                <td> {{perfil.2}} </td>
                <td> {{perfil.3}} </td>
                <td><a href=" {{ url_for('search.searchResult',cedula=perfil.0,rol=perfil.3) }}" style="color: whitesmoke;">Ver perfil</a></td>
            </tr>
            {% endfor %}
        </table>
        {% elif rol == 'Médico' %}

        {% endif %}
    </div>
</div>


{% endblock %}